<div  id="foodContainer">
  <div class="columns" id="column1">
    <h4 class="number">ONE</h4>
    <h6 class="foodTitle">RECIPES PLANNED</h6>
    <p>Chefs create healthy and delicious dinner recipes for you weekly. We'll let you know what mouth-watering recipes Nadia has created 3 to 4 days before your food bag arrives. Our recipes are seasonal, tailored to meet a variety of taste buds and are quick and easy to prepare</p>
  </div>
  <div class="columns" id="column2">
    <h4 class="number">TWO</h4>
    <h6 class="foodTitle">CHOOSE MEALS</h6>
    <p>Order Online and choose regular weekly or fortnightly deliveries. You can choose from two lip-smacking food bags: the Classic Bag or the Gourmet Bag for couples. Once your decision is made, we head off to the markets and find you the freshest local produce, meat and fish.</p>
  </div>
  <div class="columns" id="column3">
    <h4 class="number">THREE</h4>
    <h6 class="foodTitle">DING-DONG!</h6>
    <p>We deliver fresh ingredients and Nadia's recipes to your door. We deliver the goodness on a Sunday or Monday and delivery doesn't cost a dime. if you're not home, we'll flick you a text message to let you know that we have delivered your food bag.</p>
  </div>
  <div class="columns" id="column4">
    <h4 class="number">FOUR</h4>
    <h6 class="foodTitle">COOK & ENJOY</h6>
    <p>Prepare and enjoy your quick and tasty meals every week. We'll give you recipe cards with simple instructions and nutritional info plus a free recipe box so you can keep track of all the delicious meal you are trying. You'll love dinner time!</p>
  </div>
</div>
