<div id="homeContainer2">
  <!-- <%= image_tag 'brushstroke.png', :id => "topBorder"%> -->
  <!-- <%= image_tag 'brushstroke.png', :id => "bottomBorder" %> -->
  <div id=Left>
    <img src="http://www.jaemorfarms.com/fullpanel/uploads/files/watermelon.jpg"/>
  </div>
  <div id="Right">
    <img src="https://shipshewana.files.wordpress.com/2010/07/8-04-produce3.jpg"/>
  </div>
  <div id="location">
    <div id="bottomHalf">
      <a href="#" class="state bottomItem">FAMILY $139.00</a>
      <a href="#" class="city bottomItem">GOURMET $159.00</a>
    </div>
    <div class="title2">ORDER NOW</div>
  </div>
</div>
