<div id="leftSide">
  <h4>WHAT'S FOR DINNER?</h4>
  <p>  Every week Prima Chefs dream up exciting and nutritious dinner recipes just for you. We like to keep things simple, so every week we deliver the ingredients and recipes right to your door. You just open your food bag and discover what tasty meals you get to cook and enjoy</P>
  <p id="tagLine">Simple, Healthy, Delicious</p>
</div>
<div id="rightSide">
  <div id="top">
    <div id="topLeft">
      <img src="https://farm4.staticflickr.com/3789/14258118292_a88d5d0dbc_o.jpg["/>
    </div>
    <div id="topRight">
      <img src="https://farm3.staticflickr.com/2922/13450149933_238bbdde3e_o.jpg"/>
    </div>
  </div>
  <div id="bottom">
    <img src="http://www-tc.pbs.org/food/wp-content/blogs.dir/2/files/2012/04/takorean-tacos-3.jpg"/>
  </div>
</div>
